@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2"),
    url("../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2"),
    url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Italic.woff2") format("woff2"),
    url("../../assets/fonts/Georgia-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("../../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #545454;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #545454;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #292929;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

/*header styles*/

.header {
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  margin-top: 30px;
  align-items: center;
}

.header-logo {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.logo-title {
  font-size: 32px;
  line-height: 35.2px;
  color: #545454;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.logo-subtitle {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.1em;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

.nav-link {
  display: inline-block;
  font-family: "Arial";
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover {
  color: #292929;
}

.nav-link:active {
  border-bottom: 3px #f1cdb3 solid;
}

.nav-active {
  border-bottom: 3px #f1cdb3 solid;
  color: #545454;
}

/*main styles*/

.main {
  background-color: #f6f6f6;
}

.main-wrapper {
  padding-top: 120px;
}

.main-title-container {
  max-width: 400px;
  margin: 80px auto 45px;
  text-align: center;
  margin-top: 80px;
}

.section-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}

.card-flex-container {
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
  background-color: #ffffff;
}

.card .btn {
  border: 2px solid #f1cdb3;
  background-color: #fafafa;
}

.card:hover .btn {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.card > * {
  margin-bottom: 30px;
}

.name {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.btn {
  background-color: #f1cdb3;
  color: #292929;
  font-size: 17px;
  /* line-height: 130%; */
  letter-spacing: 0.06em;
  border: 0;
  padding: 14px 44px;
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background: #fddcc4;
}

/*pagination*/

.pag-container {
  margin: 45px auto 100px;
  max-width: 340px;
}

.pag-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pag-item {
  display: inline;
  width: 52px;
  height: 52px;
}

.pag-link {
  display: block;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 19px;
}

.pag-active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
  cursor: default;
}

.pag-link:hover:not(.disabled) {
  border-color: #f1cdb3;
  background-color: #f1cdb3;
}

.disabled {
  color: #cdcdcd;
  border-color: #cdcdcd;
  cursor: default;
}

/*footer styles*/

.footer {
  background: url(../../assets/icons/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-column {
  height: 234px;
  display: flex;
  flex-flow: column wrap;
}

.footer-column:first-child {
  width: 282px;
  gap: 45px;
}

.footer-column:first-child .footer-info {
  padding-left: 63px;
}

.footer-column:nth-child(2) {
  width: 302px;
  gap: 32px;
}

.footer-column:nth-child(2) .footer-info {
  padding-left: 39px;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.footer-info {
  padding-left: 60px;
  position: relative;
}

.footer-info-link {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer-info-link:hover {
  color: #fddcc4;
}

.footer-info-link::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center top;
  /* left: -60px; */
}

.footer-info-link::before {
  color: #fddcc4;
}

.mail::before {
  background-image: url(../../assets/icons/mail.svg);
  top: -3px;
  left: 2px;
}

.tel::before {
  background-image: url(../../assets/icons/phone.svg);
  top: -5px;
  left: 3px;
}

.map-top::before {
  background-image: url(../../assets/icons/pin.svg);
  left: -13px;
  top: 7px;
}

.map-bottom::before {
  background-image: url(../../assets/icons/pin.svg);
  left: -13px;
  top: -5px;
}

.footer-puppy {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer-puppy img {
  width: 300px;
  height: 310px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }

  /* header */

  .header-wrapper {
    margin-top: 30px;
  }

  /* card-flex-container */

  .main-title-container {
    margin-bottom: 30px;
  }

  .card-flex-container {
    padding: 0 64px 0;
    gap: 30px 40px;
  }

  .pag-container {
    margin: 40px auto 75px;
    max-width: 340px;
  }

  .card:nth-child(7),
  .card:last-child {
    display: none;
  }

  /* footer */

  .footer-wrapper {
    padding-top: 31px;
  }

  .footer-column {
    margin: 0 auto;
    margin-bottom: 26px;
  }

  .footer-puppy {
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .container {
    padding: 0 10px;
  }

  .section-title {
    font-size: 25px;
    line-height: 130%;
  }

  /* header */

  .header-logo {
    z-index: 5;
    transform: translateX(0);
    transition: all 0.5s;
  }

  .main-nav {
    max-width: 320px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    padding: 248px 39px;
    background-color: #f6f6f6;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 243px;
  }

  .nav-item {
    display: block;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .nav-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #545454;
  }

  .header-wrapper {
    margin-top: 30px;
  }

  /* burger */

  .menu-burger-header {
    position: absolute;
    width: 30px;
    height: 22px;
    display: block;
    cursor: pointer;
    right: 53px;
    top: 49px;
    z-index: 4;
    transition: all 0.5s;
  }

  .menu-burger-header span,
  .menu-burger-header:after,
  .menu-burger-header:before {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #000;
    margin: 0 auto;
    z-index: 4;
  }

  .menu-burger-header span {
    top: 20px;
  }

  .menu-burger-header:after,
  .menu-burger-header:before {
    content: "";
  }

  .menu-burger-header:after {
    bottom: 10px;
  }

  .menu-burger-header:before {
    top: 0;
  }

  /* active */

  .main-nav.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    top: 0;
    right: 0;
    transform: translateX(0);
    box-shadow: 0px 0px 100vh 100vh rgba(41, 41, 41, 0.7);
    z-index: 2;
  }

  .menu-burger-header.active {
    transform: rotate(-90deg);
  }

  .header-logo.open {
    position: absolute;
    right: 124px;
    z-index: 5;
    transform: translateX(calc(100% - 186px));
  }

  .mobile-menu-wrap.active {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
  }

  .noscroll {
    overflow: hidden;
  }

  /* .wrapper.active {
    overflow: hidden;
    position: fixed;
  } */

  /* main */

  .main-title-container {
    margin-top: 42px;
    margin-bottom: 41px;
  }

  /* card */

  .card-flex-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card:nth-child(n + 4) {
    display: none;
  }

  /* pagination */

  .pag-container {
    margin: 42px auto;
  }

  /* footer */

  .footer-wrapper {
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
  }

  .footer-column {
    text-align: center;
    align-items: inherit;
  }

  .footer-column:nth-child(2) {
    width: 302px;
    gap: 39px;
    margin-bottom: 12px;
  }

  .footer-column:nth-child(2) .footer-info {
    padding-left: 14px;
  }

  .footer-subtitle {
    font-size: 25px;
    max-width: 270px;
  }

  .footer-puppy {
    padding-top: 0;
    margin-left: -5px;
  }

  .footer-column:first-child .footer-info {
    padding-left: 58px;
  }

  .map-bottom::before {
    left: -41px;
    top: -5px;
  }

  .tel::before {
    top: -5px;
    left: -3px;
  }

  .footer-puppy img {
    width: 260px;
    height: 269px;
  }

  .mail::before {
    top: -1px;
    left: -2px;
  }
}
