@import "./fonts.scss";
@import "./nullStyle.scss";

@mixin fs_link {
  font: {
    family: "Red Hat Text", sans-serif;
    weight: 500;
    size: 16px;
  }
  color: #fff;
  line-height: 21px;
}

$ff_M: "Magra", sans-serif;
$ff_RH: "Red Hat Text", sans-serif;
$ff_AO: "Aleo", sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $ff_AO;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-image: url(../../../assets/img/main-cover-desktop.jpg),
    url(../../../assets/img/footer-cover-desktop.jpg);
  background-position: top center, bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1230px;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.header__wrapper {
  display: flex;
  // justify-content: space-between;
}
.header__logo {
  display: flex;
  margin-top: 24px;
  margin-right: 166px;
}
.logo__svg {
  position: top;
  width: 30px;
  height: 31px;
  margin-right: 6.5px;
}
.logo_text {
  font-family: $ff_M;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700px;
  color: #fff;
  margin: 0;
}
.header__nav {
  margin-top: 32px;
  margin-right: auto;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}
.header__nav-link {
  @include fs_link();
}
.header__nav-link:last-child {
  margin-right: 42.5px;
}
.button {
  padding: 10px 30px;
  @include fs_link();
  background-color: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}
.header__button {
  margin-top: 24px;
  margin-bottom: 24px;
}
.plan__wrapper {
  max-width: 892px;
  margin-top: 32px;
  margin-bottom: 254px;
}
.section__title {
}
.plan__title {
  font-family: $ff_AO;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #fff;
  margin-bottom: 32px;
}
.plan__description {
  font-family: $ff_AO;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 46px;
}
.plan__form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 18px;
  padding-left: 41px;
  display: flex;
  justify-content: space-between;
}
.plan__input {
  font-family: $ff_AO;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  background-color: transparent;
  min-width: 280px;
  outline: 0;
  color: #f2785c;
}
.plan__input::placeholder {
  color: #f2785c;
}
.button {
}
.plan__button {
  font-family: $ff_RH;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 13.5px 35px;
}
.steps {
  background-color: #fff;
  padding-top: 80px;
  > .container {
    padding-inline: 26px;
  }
}
.section__title {
  font-family: $ff_RH;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
  text-align: center;
}
.steps__title {
  margin-bottom: 40px;
}
.steps__cards-container {
  display: flex;
  justify-content: space-between;
}
.steps__card {
  min-height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-position: center top;
  background-repeat: no-repeat;
}
.steps__card:nth-child(2) {
  position: relative;
  left: 35px;
}
.steps__card:first-child {
  background-image: url(../../../assets/icon/cycle_icon.png);
}
.steps__card:nth-child(2) {
  background-image: url(../../../assets/icon/calendar_icon.png);
}
.steps__card:last-child {
  background-image: url(../../../assets/icon/flight_icon.png);
}

.steps__descr {
  font-family: $ff_AO;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}
